*{  font-family: "Open Sans", sans-serif !important;user-select: none;
    -webkit-tap-highlight-color: transparent;
    
}@tailwind base;@tailwind components;@tailwind utilities;
.request_loader{
        display:none;
    }
    .htmx-request .request_loader{
        display:flex;
    }
    .htmx-request.request_loader{
        display:flex;
    }

    